[Unit]
Description=Podman ARK ASA ScorchedEarth service
Documentation=man:podman-generate-systemd(1)
Requires=steamcmd.service
After=steamcmd.service
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
TimeoutStartSec=5m
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
  --cidfile=%t/%n.ctr-id \
  --cgroups=no-conmon \
  --name=asa_scorched_earth \
  --network=host \
  --replace \
  -v steam_data:/opt/steamcmd:z \
  -v shared_cluster:/opt/cluster:z \
  -v server_data:/opt/arkserver:z \
  -v ${HOME}/ark_backup:/var/backups/arkserver \
  -v ${HOME}/ScorchedEarth/ShooterGame/Saved/Config/WindowsServer:/opt/arkserver/ShooterGame/Saved/Config/WindowsServer \
  --env-file ${HOME}/env \
  --env-file ${HOME}/ScorchedEarth/env \
  --env 'NOTIFY_SOCKET' \
  kafka/arkserver
ExecStop=/usr/bin/podman exec -t asa_scorched_earth manager halt
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target

