.idea
*.iml
ark_data
!ark_data/ShooterGame/Saved/Config/WindowsServer/Game.ini
!ark_data/ShooterGame/Saved/Config/WindowsServer/GameUserSettings.ini
ark_backup
!ark_backup/.gitkeep
.bash*
.cache
.config
.gitconfig
.lesshst
.local
.profile
.ssh
.sudo_as_admin_successful
.viminfo

